<!DOCTYPE html>
<html lang="en">
<head>
  <title>admin page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Tournearby</h2>
   <div class="pull-right">
        <ul class="nav navbar-nav">
            <li><a href="{{url_for('login')}}"><button type="submit" class="btn navbar-btn btn-primary" name="logout" id="logout">Log Out</button></a></li>
        </ul>
</div>
  <table class="table table-hover">
    <thead>
      <tr>
          <th>S.No</th>
          <th>Name</th>
        <th>Email Address</th>
        <th>Message</th>
      </tr>
    </thead>
      {%for item in results%}
    <tbody>
      <tr>
          <td>{{item['sno']}}</td>
        <td>{{item['name']}}</td>
        <td>{{item['email']}}</td>
        <td>{{item['message']}}</td>
         <td>
             <a href="{{url_for('deleted', id=item['id'])}}" value=" " class="btn btn-danger">Delete</a>
         </td>
      </tr>
    {%endfor%}
    </tbody>
  </table>
</div>

</body>
</html>